body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
 * Q1: 
 */

.table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 60px;
  width: 100%;
  max-width: 700px;
}

tr,
th,
td {
  border: 1px solid black;
}

.cell {
  width: 17%;
}

.longCell {
  width: 49%;
}

/*
 * Q2: 
 */
.ordered-list {
  margin-top: 60px;
}

.unordered-list {
  margin-top: 30px;
}

/*
 * Q3: 
 */
.dropDownList {
  margin-top: 60px;
}
