body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
 * Q1: 
 */

.Q1 {
  border-collapse: collapse;
  text-align: center;
  margin-top: 60px;
  width: 100%;
  max-width: 600px;
}

tr,
th,
td {
  border: 1px solid black;
}

.headCell,
.cell {
  width: 17%;
}

.longHeadCell,
.longCell {
  width: 49%;
}

/*
 * Q2: 
 */
.Q2 {
  margin-top: 60px;
}

.search-bar {
  width: 400px;
  height: 36px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

/*
 * Q3: 
 */
.Q3 {
  margin-top: 60px;
}

.unordered-list {
  margin-top: 30px;
}

/*
 * Q4: 
 */
.Q4 {
  margin-top: 60px;
}
